IMPORTING LIBRARIES

In [6]:
import json
import mysql.connector

In [5]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\jagan\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\jagan\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.5)
Note: you may need to restart the kernel to use updated packages.

### Reading the JSON file and normalize the data

In [7]:

with open(r'C:\Users\jagan\OneDrive\Desktop\New folder\Problem_03\nested_data.json', 'r') as file:
    data = json.load(file)
# Step 2: Connect to the MySQL database
conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='Jagan@1999',
    database='assignment'
)
cursor = conn.cursor()

In [15]:
# Step 3: Create tables for concerts, works, and soloists
cursor.execute('''CREATE TABLE IF NOT EXISTS concerts (
                    programID VARCHAR(255),
                    Date VARCHAR(255),
                    Venue VARCHAR(255),
                    Location VARCHAR(255),
                    Time VARCHAR(255)
                )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS works (
                    programID VARCHAR(255),
                    Composer VARCHAR(255),
                    Conductor VARCHAR(255),
                    WorkTitle VARCHAR(255)
                )''')

cursor.execute('''CREATE TABLE IF NOT EXISTS soloists (
                    programID VARCHAR(255),
                    SoloistName VARCHAR(255),
                    SoloistRoles VARCHAR(255),
                    SoloistInstrument VARCHAR(255)
                )''')

# Step 4: Insert data into the tables
for program in data['programs']:
    program_id = program['programID']

    # Insert concert data
    for concert in program['concerts']:
        date = concert['Date']
        venue = concert['Venue']
        location = concert['Location']
        time = concert['Time']
        cursor.execute('INSERT INTO concerts VALUES (%s, %s, %s, %s, %s)', (program_id, date, venue, location, time))

    # Insert work data
    for work in program['works']:
        composer = work.get('composerName')
        conductor = work.get('conductorName')
        work_title = work.get('workTitle')
        cursor.execute('INSERT INTO works (programID, Composer, Conductor, WorkTitle) VALUES (%s, %s, %s, %s)', (program_id, composer, conductor, work_title))



        # Insert soloist data
        # Insert soloist data
    for soloist in work.get('soloists', []):
        soloist_name = soloist['soloistName'][:255]  # Truncate to 255 characters
        soloist_roles = soloist['soloistRoles'][:255]  # Truncate to 255 characters
        soloist_instrument = soloist['soloistInstrument'][:255]  # Truncate to 255 characters
        cursor.execute('INSERT INTO soloists VALUES (%s, %s, %s, %s)', (program_id, soloist_name, soloist_roles, soloist_instrument))

# Step 5: Commit changes and close the connection
conn.commit()
conn.close()

MySQLInterfaceError: Python type dict cannot be converted